html {
  height: 100%;
}

body {
  color: #252519;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #261a3b;
}

a:visited {
  color: #261a3b;
}

img {
  margin-bottom: 30px;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 15px 0;
}

h2 {
  padding-top: 10px;
  margin-top: 20px;
  font-size: 1.2em;
}

h1 {
  padding: 10px 0 8px 0;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5ee;
}

pre, code {
  font-size: 12px; line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

pre {
  width: 610px;
  overflow: auto;
  border: 1px solid #e5e5ee;
  margin: 0 0 15px 0;
  background: ghostWhite;
  padding: 5px;
}

section {
  padding-bottom: 40px;
}

button {
  margin: 10px;
}

ul {
  padding: 0;
  margin: 10px 0;
  list-style-position: inside;
}

table {
  margin: 15px;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #CCC;
  border-radius: 6px
}

th {
  background: hsl(107, 0%, 83%);
  /*color: white;*/
  padding: 4px 10px 4px 4px;
  border: 1px solid #CCC;
  border-top: none;
}

th:first-child {
  border-radius: 6px 0 0 0;
  border-left: none;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child{
  border-radius: 6px 6px 0 0;
}

tr, td {
  margin: 0;
  padding: 0;
}

td {
  padding: 5px 15px 5px 5px;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  border: 1px solid #CCC;
  border-right: 0;
  border-top: none;
}

tr td:first-child  {
  border-left: none;
}
tr:last-child td:first-child  {
  border-bottom-left-radius: 6px;
}

tr:last-child td {
  border-bottom: none;
}

tr:last-child td:last-child  {
  border-bottom-right-radius: 6px;
}

#xhprof-runs tbody tr:nth-child(odd),
#xhprof-summary tbody tr:nth-child(odd) {
   background-color: hsl(107, 0%, 93%);
}

#page {
  height: 100%;
}

#drop-area {
  padding: 10px;
  margin: 10px;
  background: ghostWhite;
  min-height: 100%;
  border: 2px dashed #DDD
}

#xhprof-summary {
  margin: 10px auto;
  width: 40%;
}
tr:last-child td:last-child  {
  border-bottom-right-radius: 6px;
}

#xhprof-runs tbody tr:nth-child(odd),
#xhprof-summary tbody tr:nth-child(odd) {
   background-color: hsl(107, 0%, 93%);
}

#page {
  height: 100%;
}

#drop-area {
  padding: 10px;
  margin: 10px;
  background: ghostWhite;
  min-height: 100%;
  border: 2px dashed #DDD
}

#xhprof-summary {
  margin: 10px auto;
  width: 40%;
}

#xhprof-runs {
  font-size: 95%;
}
